*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 58, 58);
  color: aliceblue;
  /* font-size: 5rem; */
}