*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: none;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow: none;
   
}
.navContainer{
   min-height: 1.5rem;
    width: 100vw;
    /* background-color: rgb(96, 126, 180); */
    font-size: 2rem;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;
   
}
nav{
    width: 100vw;
    padding-right: 2rem;
}
#navlist{
    /* margin-left: 15px;
    margin-right: 15px; */
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;
    
}
#navlogo{
    font-size: 3rem;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}
#navitem{
    display: flex;
    gap: 40px;
    
}
.footerbox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 30px;
    color: azure;
    width: 100%;
    text-align: center;
}
.footerbox{
    p{
        color: azure;
        font-size: 2rem;
    }
}
.contentbox{
    padding: 3rem;
    width: 70%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 5px 5px 30px  black;
}

.item{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 3px 3px 3px black;
    border-radius: 20px;
}
.rightbox .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    box-flex-group: rgba(0, 0, 0, 0.34);
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s linear 0s;

}
.rightbox:hover .overlay{
    opacity: 1;
}
.rightbox .overlay span{
    color: azure;
    font-size: 1.2rem;
}
.rightbox img{
    border-radius: 20px;
    transition: all 0.1s linear 0s;
}
.rightbox:hover{
    transform: scale(1.3) ;
}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ingbox h3{
    font-size: 1.3rem;
}
.recbox{
    font-size: 1.1rem;
}